footer{
    grid-column:span 3;
    background-color: cornflowerblue;
    display: grid;
    grid-auto-columns: 33% 33% 33%;
    a{
        color:black;
        text-decoration: none;
        margin: auto;
    }   
    #que_hacemos{
         grid-column: 1/2;
    }
    #enlaces_principales{
        grid-column: 2/3;
    }
    #contactanos{
        grid-column: 3/4;
    }
}
